@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.page{
    display: none;
}

body {
    height: 200vh;
    background: linear-gradient(180deg, blue, rgba(255, 255, 255, 0.8), blue);
}

header h1{
    text-align: center;
    color: rgb(6, 0, 11);
    font-family: 'Pacifico', cursive;
}

form {
    max-width: 400px;
    margin: 20px auto ;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 0px 32px 5px #cad9f7;
}

h2 {
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
}

#entryButtonContainer{
    width: 400px;
    margin: 20px auto ;
    padding: 20px;
    display:flex;
    justify-content: space-between;

}

#entryButtonContainer button:hover {
background-color: #0080ff;
}

form button , #entryButtonContainer button{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display:flex;
    margin-left: 100px;
    justify-content: center;
    width: 200px;
}

#entryButtonContainer button {
    width: 122px;
    margin: 0;
}

 form button:hover {
    background-color: #45a049;
    transform: scale(1.2);
}

.inputContainer {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    display: none;
}

.error-border {
    border: 2px solid red;
}

.success-border {
    border: 2px solid lawngreen;
}

.active{
    display: block;
}

.inActive{
    visibility: hidden;
}

#eventsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 עמודות בכל שורה */
    gap: 20px;
    padding: 20px;
}

.grid-event {
    ox-shadow: 0px 0px 12px 0px #0036ff;
    border: 1px solid #000000;
    padding: 40px;
    text-align: center;
    /* background: #4800ff73; */
    border-radius: 25px;
}
