@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    height: 100vh;
    background: linear-gradient(to bottom,rgb(56, 56, 244) 5%, rgb(71, 154, 243) 30%, rgb(248, 247, 248) 70%);
}
header h1{
    text-align: center;
    color: rgb(6, 0, 11);
    font-family: 'Pacifico', cursive;
}
form {
    max-width: 400px;
    margin: 20px auto ;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 0px 32px 5px #cad9f7;
}
h2 {
    display: flex;
    justify-content: space-around;
}
#entryButtonContainer{
    width: 400px;
    margin: 20px auto ;
    padding: 20px;
    display:flex;
    justify-content: space-between;
}

#entryButtonContainer button:hover {
background-color: #0080ff;
}

form button , #entryButtonContainer button{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display:flex;
    margin-left: 100px;
    justify-content: center;
    width: 200px;
}
#entryButtonContainer button {
    width: 122px;
    margin: 0;
}

 form button:hover {
    background-color: #45a049;
    transform: scale(1.2);
}

.inputContainer {
    margin-bottom: 15px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    display: none;
}
.error-border {
    border: 2px solid red;
}

.success-border {
    border: 2px solid lawngreen;
}

